p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color:#cc0000;
}

.game-board{
  width: 100vw;
  height: 100vw;
  background-color: #00cc00;
  position: relative;
  overflow: hidden;
}
.snake-part{
  width: 3%;
  height: 3%;
  background-color: #cc0000;
  position: absolute;
}
.game-food{
  width: 3%;
  height: 3%;
  background-color: #0000cc;
  position: absolute;
}
